<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>GPT Coding Helper</string>
	<key>CFBundleExecutable</key>
	<string>GPT Coding Helper</string>
	<key>CFBundleIconFile</key>
	<string>generated-f5d9908dde98913ec5c039dfa765ba32fdba8eaf35bdaa836400942f23b5f1f9.icns</string>
	<key>CFBundleIdentifier</key>
	<string>GPT Coding Helper</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>GPT Coding Helper</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
